[user]
	email = viktorstrate@gmail.com
	name = viktorstrate
	signingkey = 3F855605109C1E8A
[core]
	autocrlf = input
	editor = nvim
[commit]
	gpgsign = true
[web]
    browser = firefox
[color]
    ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
    untracked = red bold
[alias]
    a = add -A
    b = branch
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    d = diff
    f = fetch
    m = merge
    s = status
[credential]
	helper = cache
