Templates/rapport.aux
Templates/rapport.log
Templates/rapport.out
Templates/rapport.pdf
Templates/rapport.synctex.gz
Templates/rapport.toc

vim/.vim/bundle/
vim/.vim/autoload/
vim/.vim/.netrwhist

.DS_Store

atom/.atom/*
!atom/.atom/config.cson
!atom/.atom/init.coffee
!atom/.atom/install-packages.sh
!atom/.atom/keymap.cson
!atom/.atom/packages.txt
!atom/.atom/snippets.cson
!atom/.atom/styles.less

fish/.config/fish/*
!fish/.config/fish/config.fish
!fish/.config/fish/fish_prompt.fish
!fish/.config/fish/fisher_bootstrap.fish
!fish/.config/fish/fishfile
!fish/.config/fish/iterm2_shell_integration.fish
